.container {
  height: calc(100vh - 70px);
  padding: 10px;
  display: grid;
  grid-template-rows: 1fr auto;
  overflow-y: auto;
}

/* Circle Style */
.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 15px solid #00A36C;

  display: flex;
  /* Center text */
  align-items: center;
  justify-content: center;

  font-weight: bold;
  font-size: 16px;
  color: #000;
}

/* Center Wrapper */
.centerWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* ← Centers all child items horizontally */
  justify-content: top;
  margin: 20px 0;
  text-align: center;
  /* ← Ensures text inside items is centered too */
}

.circleText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 1.2;
}

.kgLabel {
  font-size: 16px;
  color: #000;
  font-weight: bold;
}

.kgValue {
  font-size: 25px;
  font-weight: bold;
  color: #097969;
  margin-bottom: 30px;
}

.inputContainer {
  margin-top: 16px;
  width: 100%;
  max-width: 300px;
  text-align: left;
}

.label {
  font-size: 14px;
  margin-bottom: 6px;
  color: #097969;
  display: block;
}

.inputBox {
  width: 100%;
  padding: 10px 12px;
  border: 2.5px solid #00A36C;
  border-radius: 6px;
  font-size: 16px;
  outline: none;
  color: #333;
  font-weight: bold;
  text-align: center;
}

.inputBox:focus {
  border-color: #065f52;
  box-shadow: 0 0 3px rgba(9, 121, 105, 0.5);
}

.buttonContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  z-index: 999;
}

.button {
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #f0f0f0;
  color: #333;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

}

.button:hover {
  background-color: #e0e0e0;
}

.buttonPrimary {
  background-color: #059705;
  padding: 8px;
  width: 100%;
  border-radius: 6px;
  color: white;
  font-size: 19px;
  outline: none;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  transition: background-color 0.3s ease;
}

.buttonPrimary:hover {
  background-color: #065f52;
}

.icon {
  margin-right: 0px;
  font-size: 16px;
  display: inline-block;
  vertical-align: middle;
}